@import "portfolio-style";

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$dark-grey: #333;
$med-grey: #555;
$light-grey: #5e5e5e;

$dark-purple: #393239;
$dark-green: #3F473E;
$dark-red: #574C4D;
$dark-yellow: #53554A;

$shadow-size: 4px;

$content-padding: 10px;

html,body {
	background-color: $dark-grey;
}

.container-fluid {
	padding: 0;
	max-width: 750px;
}

.image-header {
	position:absolute;
	top:0px;
	left:0px;

	height: 85px;
	width: 100%;

	background: black url("../../img/backgrounds/kaleidoscope.jpg") no-repeat center 34%;
	background-size:cover;
}

.project-list {
	display:flex;

	width:100%;
	height: 60px;

	background-color: $med-grey;
	justify-content: space-around;
	align-items: center;

	border-bottom: solid 1px $dark-grey;

	.project-link {
		display:flex;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		color: white;
		height: 100%;
		padding: 0 10px;
		font-size: 1.2em;
		background: $light-grey;
	}

	.middle-links {
		border-left: solid 1px $dark-grey;
		border-right: solid 1px $dark-grey;
	}

	.project-category {
	}
}

.content {
	position:relative;
	top:85px;
	bottom:85px;
	width:100%;
	background-color:$dark-purple;

	z-index:2;

	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
}

.content-display {
	margin-left: auto;
	margin-right: auto;
	background-color: $light-grey;
	border-left: solid 1px $dark-grey;
	border-right: solid 1px $dark-grey;
	color: white;

	h3 {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.spotify-container {
		width: 100%;
		background-color: $dark-grey;
		text-align: center;
		padding: 15px;
	}

	.divider-container {
		width: 100%;
		height: 100px;
		overflow: hidden;
		border-top: white 1px solid;
		border-bottom: white 1px solid;

		img {
			width: 100%;
		}

		.divider-image {
		    background-attachment: fixed;
		}

		.first-image {
			margin-top: -124px;
		}

		.second-image {
			margin-top: -133px;
		}

		.third-image {
			margin-top: -24px;
		}

		.fourth-image {
			margin-top: -212px;
		}
	}

	.headline {
		text-align: center;
		padding: 10px;
		padding-bottom: 30px;
	}

	.content-section {
		padding: 20px $content-padding;
		overflow: auto;
	}
}

.portrait {
	width: 60%;
	margin-top: 5%;
	margin-right: 20%;
	margin-left: 20%;
}

.education {
	background-color: $dark-yellow;
}

.work-experience {
	background-color: $dark-red;
}

.skills {
	background-color: $dark-green;
}

.portfolio {
	background-color: $dark-purple;
}

$footer-height: 85px;

.image-footer {
	position: absolute;
	margin-top: $footer-height;
	height: $footer-height;
	left:0;
	width: 100%;

	z-index: 3;

	background-image: url("../../img/backgrounds/dankest_deer.jpg");
	background-position: 1375px 83%;
}